<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">الخدمات التدريبية</h1>
      <p class="text-center lead">نقدم خدمات تدريبية متنوعة تهدف إلى تطوير المهارات والمعرفة في مختلف المجالات.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">دورات تدريبية مباشرة</h5>
          <p class="card-text">دورات تدريبية مباشرة تفاعلية مع مدربين محترفين للحصول على تجربة تعليمية مميزة.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">دورات تدريبية عبر الإنترنت</h5>
          <p class="card-text">دورات مرنة يمكن حضورها من أي مكان في أي وقت يناسبك.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">تدريب مخصص للمؤسسات</h5>
          <p class="card-text">برامج تدريبية مصممة خصيصًا لتلبية احتياجات المؤسسات والشركات.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center mb-4">مزايا خدماتنا التدريبية</h2>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">محتوى تدريبي عالي الجودة</li>
            <li class="list-group-item">مدربون متخصصون ومؤهلون</li>
            <li class="list-group-item">أساليب تدريس حديثة وفعالة</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">شهادات معتمدة</li>
            <li class="list-group-item">مرونة في الجداول الزمنية</li>
            <li class="list-group-item">دعم فني متواصل</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a routerLink="/courses" class="btn btn-success btn-lg mx-2">تصفح الدورات التدريبية</a>
      <a routerLink="/contact" class="btn btn-primary btn-lg mx-2">اتصل بنا لمعرفة المزيد</a>
    </div>
  </div>
</div>