.container {
  direction: rtl;
}

h1 {
  color: #495057;
  font-weight: bold;
}

.form-label {
  font-weight: 500;
  color: #495057;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}