.container {
  direction: rtl;
}

h1 {
  color: #495057;
  font-weight: bold;
}

.form-label {
  font-weight: 500;
  color: #495057;
}

.btn-success {
  background-color: #198754;
  border-color: #198754;
}

.btn-success:hover {
  background-color: #157347;
  border-color: #146c43;
}